* {
  box-sizing: border-box;
}

// #CCF3EE  <- ljusturkos
// #F9CEEE  <- rosa
// #F9F3EE  <- gul?
// #97C4B8  <- grön

.backoffice-container {
  background-color: #F9F3EE;
  padding: 1%;



  .bo-successheader,
  .bo-header {
    padding: 2%;
    height: fit-content;
    justify-content: center;
    background-color: #97C4B8;
    color: black;


    .header-btn {
      font-size: 2em;
    }

    .btn-p {
      padding: 2%;
      display: grid;
      gap: 2em;
    }
  }

  h2 {
    text-align: center;
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
  }

  a {
    text-decoration: none;
    color: black;
  }


  .goback {
    background-color: #97C4B8;
    border-radius: 10px;
    padding: .7%;

    a {
      color: black;

      &:hover {
        color: white;
        font-weight: bold;
      }
    }
  }


  .bo-add-product,
  .create-category {
    display: grid;
    gap: 1em;
    padding: 2%;
    height: fit-content;
    background-color: #97C4B8;

    .addproduct-btn,
    .addcategory-btn {
      width: fit-content;
    }
  }

  input,
  select {
    border-radius: 5px;
    padding: 1%;
    width: 70%;
  }

  .img-btn {
    width: 20%;
  }

  .bo-nav {
    width: 70%;
    display: grid;
    gap: 1em;
    grid-template-columns: auto auto;
    margin: 1em auto;

    .bo-links {
      background-color: #97C4B8;
      font-weight: bolder;
      border: none;
      border-radius: 10px;
      padding: 1%;
    }

  }

  .BO-one-product {
    margin: 1em auto;
    border: 1px solid black;
    background-color: #fafafa8f;
    padding: 1%;
    max-width: 80ch;
    flex-shrink: 1;

    label {
      font-weight: bold;
      margin-right: .5em;
    }


    .grid-container {
      display: inline-grid;
      grid-template-columns: auto auto auto auto auto;
      column-gap: 1em;
      flex-wrap: wrap;
      flex-shrink: 1;
      flex-grow: 1;
    }

    .grid1 {
      grid-column: 3/4;
    }

    .grid2 {
      grid-column: 4/5;

    }

    .grid3 {
      grid-column: 5/6;
    }

    .img-grid {
      grid-column: 1/2;
      grid-row: 1/5;
    }

    .grid-btn {
      grid-column: 1/2;
    }
  }

  .detail-btn {
    margin-top: 2em;
  }


}

.update-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 2%;
  background-color: #CCF3EE;
  border: 2px solid black;
  box-shadow: 2px 8px 15px 8px rgba(0, 0, 0, 0.71);

  input,
  select,
  textarea {
    margin: 1em;
  }

  .btn-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3%;
  }

  .price-cat {
    width: fit-content;
  }
}