/* .link1:hover,
.link2:hover,
.link3:hover,
.link4:hover {
  font-size: 30px;
}
.link0:hover {
  font-size: 50px;
} */
[class*=link] {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 1000;
}
/* .Nav {

  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
} */
