body{
    margin-top: 200px;
}
.ProductList {
    width: 100%;
    margin: 0 auto;
    gap: 1%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: 'Raleway';
    color: black ;
}

.PCard {
    min-height: 800px;
    background-color: #F9CEEE;
    border: none;
    /* min-width: 380px; */
    
}
.ProdImg {
        width: 150px;
        height: 450px;
        object-fit: scale-down;
        margin: auto;
}
.CText {
        height: fit-content;
       max-height: 40px;
} 
.CFooter {
   background-color: #CCF3EE;
   display: flex;
   justify-content: space-between;
}
.CBody {
background-color: #F9F3EE;
max-height: 200px;
/* min-height: fit-content; */
}

/* .CTitle {
    min-height:8rem;
} */

.buyBtn {
        background-color: #FEC98F;
        border: none;
        color: black;
        width: 70px;
        border-radius: 10px;
        font-size: 22px;
}

.FilterCol {
margin: 3% auto;
display: flex;
flex-direction: column;
align-items: center;
}

.ProductFilter, .ProductSort, .ProductSearch {
    width: fit-content;
    min-width: 380px;
    height: 50px;
    margin-bottom: 1%;
    text-align:center;
}

@media only screen and (max-width: 1200px){
    .PCard {
        min-width: 200px;
    }
    .ProductList {
        gap: 2%;
    }
}
@media only screen and (max-width: 600px){
    .PCard {
        min-width: 380px;
    }
}
@media only screen and (max-width: 425px){
    .PCard {
        min-width: 380px;
    }
}